// @import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "../../app.scss";

$text: #ffaa00;
$text-bg: #fce1aa;
$text-plain: #575757;
$bgc-yellow: $lenmon-yellow;
$bgc-green: $lenmon-green;

button {
  line-height: 1.5;
}
.post-new {
  margin: 20px auto;
  width: 90%;
  // border: 1px solid #ecc745;
  border-radius: 5px;
  font-size: 16px;
  padding: 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .scroll-container {
    white-space: nowrap;
    .tag-item {
      & + .tag-item {
        margin-left: 10rpx;
      }
      display: inline-block;
      margin-bottom: 10rpx;
      color: $text-plain;
    }
    .tag-item-active {
      color: $text;
      background-color: $text-bg;
    }
  }

  .textarea {
    color: $text;
    border: $text;
    font-size: 30rpx;
    background: #fff;
    width: 100%;
    // min-height: 80rpx;//无效
    padding: 0 30rpx;
    .textarea-placeholder{
      color: $text;
    }
  }
}
.publish-button {
  margin-top: 20px;
  width: 50%;
  background-color: $text;
  color: #fff;
}
