// @import "~taro-ui/dist/style/components/textarea.scss";
@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "../../app.scss";

$text: #fe3666;
$text-bg: #f7e6e7;

$text-plain: #6d6d6d;
$bgc-yellow: $lenmon-yellow;
$bgc-green: $lenmon-green;

button {
  line-height: 1.5;
}
.post-new {
  .at-message {
    top: var(--traceNavTop);
    transform: translate(0, -18%);
  }  
  .at-message--hidden{
    visibility: hidden;
  }

  margin: 0px auto;
  width: 90%;
  height: 68vh;
  // height: 960rpx;
  // border: 1px solid #ecc745;
  border-radius: 5px;
  font-family: PingFang SC;
  font-size: 16px;
  padding: 10rpx;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .title {
      position: relative;
      right: 20rpx;
      background-color: $text;
      padding: 5rpx;
      color: #fff;
      font-family: PingFang SC;
      font-size: 20rpx;
      font-weight: 500;
      line-height: 26rpx;
      letter-spacing: 0rpx;
      text-align: left;
      border-radius: 5rpx;
    }
  }

  .scroll-container {
    white-space: nowrap;
    ::-webkit-scrollbar {
      display: none;
    }
    .tag-item {
      & + .tag-item {
        margin-left: 10rpx;
      }
      display: inline-flex;
      align-items: center;
      gap: 8rpx;
      padding: 30rpx 24rpx;
      color: $text-plain;
      font-size: 30rpx;
      font-weight: 400;
      line-height: 26rpx;
      letter-spacing: 0px;
      text-align: left;
    }
    .tag-item-active {
      color: $text;
      background-color: $text-bg;
    }
  }

  .textarea {
    color: $text;
    border: $text;
    font-size: 36rpx;
    line-height: 32rpx;
    background: #fff;
    width: 100%;
    // min-height: 80rpx;//无效
    padding: 40rpx 30rpx 20rpx;
    .textarea-placeholder {
      // color: $text;
      color: #00000080;
    }
  }
}

.newpost-bottom-placeholder {
  font-size: 24rpx;
  font-weight: 400;
  line-height: 32rpx;
  letter-spacing: 0rpx;
  margin: 20rpx 34rpx;
  color: #00000080;
}
.newpost-publish-button {
  height: 120rpx;
  width: 70%;
  border-radius: 104rpx;
  background-color: $text;
  color: #fff;
  // 文字不居中，下面解决bug
  display: flex;
  justify-content: center;
  align-items: center;
}
