@import "~taro-ui/dist/style/components/message.scss";
.userInfo{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  .name{
    margin-top: 4vh;
    font-size: 40px;
  }
  .school{
    margin-top: 4vh;
    font-size: 30px;
  }
}
.joinButton{
  width: 90vw;
  .buttonItem{
    margin-bottom: 2vh;
  }
}
.detail{
  .title{
    margin-left: 5vw;
    font-weight: bold;
    margin-bottom: 2vh;
  }
  .content{
    margin-left: 5vw;
    font-size: 26px;
  }
}

.directorInfo{
  height: 12vh;
  display: flex;
  align-items: center;
  font-size: 26px;
  // justify-content: center;
  .name{
    margin-right: 5vw;
  }
  .avator{
    margin-left: 5vw;
    margin-right: 5vw;
    // height: 5vh;
    // width: 100%;

  }
}
.container {
  height: 100vh;
  width: 100vw;
  display: flex;
  // justify-content: space-around;
  align-items: center;
  flex-direction: column;
  .detailContainer{
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-top: 2vh 0 2vh 0;
    border-radius: 5px;
    width: 90vw;
    height: 60vh;
    border-style: solid;
    border-width:1px;
    margin-bottom: 3vh;
  }
  .membersContainer{
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-top: 2vh 0 2vh 0;
    border-radius: 5px;
    width: 90vw;
    height: 16vh;
    border-style: solid;
    border-width:1px;
    margin-bottom: 3vh;
    .title{
      margin-top: 2vh;
      margin-left: 5vw;
      font-weight: bold;
      margin-bottom: 2vh;
    }
  }

}
