// hp区分组件和页面，防止样式污染
.hp-container {
  margin: 0 16rpx;
  // 左侧文案
  .hp-left {
    color: #fff;
    background: #fe7d41;
    border-radius: 15rpx 0 0 15rpx;
    padding: 8rpx;
    position: relative;
    font-size: 28rpx;
    line-height: 32rpx;
    // 三角形
    &::after {
      content: "";
      border: 15rpx solid transparent;
      border-right: 15rpx solid #fff9de;
      position: absolute;
      top: 50%;
      right: -1px;
      transform: translate(0, -50%);
    }
  }
  // 右侧走马灯
  .hp-swiper {
    .hp-swiper-item {
      height: 50%;

      font-family: PingFang SC;
      font-size: 28px;
      font-weight: 800;
      line-height: 32px;
      letter-spacing: 0px;
      text-align: left;

      background: #fff9de;
    
      .hp-swiper-item-seq {
        color: #00000080;
        font-family: PingFang SC;
        font-weight: 500;
        padding: 12rpx 10rpx;
        display: inline-block;
        box-sizing: border-box;
        vertical-align: middle;
      }
    }
  }
}
