@import "~taro-ui/dist/style/components/tag.scss";
@import "~taro-ui/dist/style/components/avatar.scss";
@import "../../app.scss";
@import "~taro-ui/dist/style/components/float-layout.scss";
@import "~taro-ui/dist/style/components/input-number.scss";
@import "~taro-ui/dist/style/components/icon.scss";
$forum-fontSize: 25rpx;
$forum-fontSize-b: 30rpx;
$forum-fontSize-author: 35rpx;
$btn-color: $lenmon-yellow;

// 论坛页面的背景色，样式污染
.forum {
  background-color: #f7f7f7;
}
.post {
  box-shadow: 0 0 20rpx -10rpx black;
  background-color: #fff;
  border-radius: 10px;
  padding: 15px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  .flex {
    display: flex;
    gap: 30rpx;
    flex-wrap: wrap;
    padding: 10rpx 20rpx;
  }
  .post-author {
    display: flex;
    align-items: center;
    // gap: 50rpx;
    .post-author-name {
      font-size: $forum-fontSize-author;
      color: $btn-color;
      transform: translate(20px, -30%);
    }
    // 调整taro ui的头像normal大小
    // .at-avatar--normal {
    //   width: 80rpx;
    //   height: 80rpx;
    //   line-height: normal;
    //   .at-avatar__img {
    //     width: 80rpx;
    //     height: 80rpx;
    //   }
    // }
  }
  // 内容主题空出100px
  .post-main {
    padding-left: 100px;
  }
  .post-content {
    font-size: $forum-fontSize-b;
    padding: 0 20rpx;
  }
  .text-ellipsis {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 3; /* 最大显示三行 */
    // width: 200px; /* 设置文本容器的宽度 */
    // white-space: nowrap; /* 防止文本换行 */
    // overflow: hidden; /* 隐藏超出容器宽度的部分文本 */
    // text-overflow: ellipsis; /* 显示省略号 */
  }
  .post-time {
    font-size: $forum-fontSize;
    color: $btn-color;
    // justify-self: flex-start;
    position: relative;
    right: 105rpx;
  }
  .post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .tagList {
      color: $btn-color;
    }
  }

  .interaction-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .interaction-button {
      padding: 8px 15px;
      border: none;
      border-radius: 20px;
      font-size: $forum-fontSize;
      cursor: pointer;
      transition: background-color 0.3s;
      display: flex;
      align-items: center;
      gap: 10px;

      &:hover {
        opacity: 0.8;
      }
    }
  }
}
