@import "~taro-ui/dist/style/components/message.scss";
@import "~taro-ui/dist/style/components/tag.scss";
$forum-fontSize: 25rpx; //input,button,post-content,interaction-button
$forum-fontSize-b: 30rpx; //content
$button-color: #ffc701;
$btn-color: #ffaa00;
button {
  line-height: 1.5;
}
.plus {
  position: fixed;
  bottom: 8%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;
}

.new-post {
  height: 60px;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 20px;
  position: fixed;
  bottom: 0;
  background-color: #fff;
  z-index: 100;

  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    font-size: $forum-fontSize;
  }

  button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: $button-color;
    color: #fff;
    border: none;
    border-radius: 20px; /* Increase the border radius for a more rounded button */
    font-size: $forum-fontSize; /* Slightly larger font size for better readability */
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #a0aa25;
    }
  }
}

.comments {
  margin-top: 10px; // 调整评论区域与上方内容的间距
  padding: 10px; // 添加内边距，美化样式

  .comment {
    background-color: #f5f5f5; // 评论区域背景颜色
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px; // 调整每个评论之间的间距

    .comment-content {
      font-size: $forum-fontSize; // 调整评论内容的字体大小
    }
  }
}